#__build_path(){
#  BUILD_PATH="$(
#  make meson-binaries
#|xargs dirname|sort -u|xargs -I % echo ./build/%|tr '\n' ':')"
#  printf "%s:%s" "$BUILD_PATHS" "$PATH"
#}
#paleta <  ~/.palettes/frontend-galaxy-dark
#export PATH="$(pwd)/build:$(pwd)/scripts:$PATH"
#kfc -s base16-bright

if [[ -e "$ALACRITTY_SOCKET" ]]; then
    pycritty -f DaddyTimeMono_Nerd_Font_Mono
fi

kk(){
kitty @ set-tab-title "   meson_deps :: XXXXXXXXXXXX    "
kitty @ set-tab-color active_fg=black active_bg=green
kitty @ env REPO=meson_deps
kitty @ set-font-size 22
#kitty @ set-colors foreground=white background=black
kitty @ set-colors Pro.conf
kitty @ set-background-opacity 1
kitty @ goto-layout vertical
#kitty @ set-window-logo a.png
#ansi -n --bg-black --cyan --reverse "    meson_deps    " > .Kitty-logo.ans
#ansilove -c 100 -R 8 -t ANS -o .Kitty-logo0.png .Kitty-logo.ans
#kitty @set-spacing margin=0 padding=0 padding-bottom=100
#kitty @set-window-logo .Kitty-logo0.png
}

nontest_files(){
    echo;echo -ne "                                ";ansi --blink --bold --green --bg-black --reverse "NONTEST SOURCE FILES" && echo;echo;Loc --files --include '^.*/.*\.c$' --exclude '^.*/.*test\.c$' --exclude '.*/sqlite3\.c$' |bline -a bold:green -r yellow -R 1-6;echo;echo
}

test_files(){
    ansi --blink --bold --magenta --bg-black --reverse "TEST SOURCE FILES"
    Loc --files --include '^.*/.*test\.c$'
}

src_report(){
    clear
    nontest_files
    echo
    test_files
    echo;echo
} 

src_report
