#__build_path(){
#  BUILD_PATH="$(
#  make meson-binaries
#|xargs dirname|sort -u|xargs -I % echo ./build/%|tr '\n' ':')"
#  printf "%s:%s" "$BUILD_PATHS" "$PATH"
#}
#paleta <  ~/.palettes/frontend-galaxy-dark
#export PATH="$(pwd)/build:$(pwd)/scripts:$PATH"
#kfc -s base16-bright

if [[ -e "$ALACRITTY_SOCKET" ]]; then
    pycritty -f DaddyTimeMono_Nerd_Font_Mono
fi

kitty @ set-tab-title meson_deps
kitty @ set-tab-color active_fg=black active_bg=red
kitty @ env REPO=meson_deps
kitty @ set-font-size 30
kitty @ set-colors foreground=white background=black
kitty @ set-colors Pro.conf
kitty @ set-background-opacity 1
kitty @ goto-layout vertical
