////////////////////////////////////////////
{%if TEST_CASE_DEBUG_MEMORY_ENABLED%}#define DEBUG_MEMORY{%endif%}
#ifdef DEBUG_MEMORY
#include "debug-memory/debug_memory.h"
#endif
////////////////////////////////////////////
#include "{{TEST_CASE_NAME}}/{{TEST_CASE_NAME}}.h"
////////////////////////////////////////////
{%for i in INCLUDED_HEADERS.split(' ') -%}
#include "{{i}}"
{%endfor%}
////////////////////////////////////////////
static char EXECUTABLE_PATH[PATH_MAX + 1] = { 0 };
static char *EXECUTABLE;
static char *EXECUTABLE_PATH_DIRNAME;
static bool DEBUG_MODE_ENABLED = {%if TEST_CASE_DEBUG_MODE%}true{%else%}false{%endif%};
void __attribute__((constructor)) __constructor__{{TEST_CASE_NAME_SLUG}}();
void __attribute__((destructor)) __destructor__{{TEST_CASE_NAME_SLUG}}();
void __{{TEST_CASE_NAME_SLUG}}__setup_executable_path(const char **argv);

/////////////////////////////////////
//  Test Cases
TEST t_{{TEST_CASE_NAME_SLUG}}(void *PARAMETER){
  /////////////////////////////////////
  //  Initialize Test Case Variables
  char *msg = NULL;
  int tested_value = -1;
  /////////////////////////////////////

  /////////////////////////////////////
  //  Perform Test Logic and set tested_value here
  tested_value = 1;
  /////////////////////////////////////

  /////////////////////////////////////
  //  Validate Tested Value
  ASSERT_EQm("Test Value should equal One", tested_value, 1);
  /////////////////////////////////////

  /////////////////////////////////////
  //  Generate Pass Message
  asprintf(&msg,"Test Case {{TEST_CASE_NAME}} OK\n\t(%s) @ (%s)\n\tValidated tested_value: %d",
    EXECUTABLE,
    EXECUTABLE_PATH_DIRNAME,
    tested_value
  );
  /////////////////////////////////////

  /////////////////////////////////////
  //  Pass Test
  PASSm(msg);
  /////////////////////////////////////
}
/////////////////////////////////////

/////////////////////////////////////
//  Test Suites
SUITE(s_{{TEST_CASE_NAME_SLUG}}) {
  void *TEST_PARAM = 0;  
  RUN_TESTp(t_{{TEST_CASE_NAME_SLUG}}, (void*)TEST_PARAM);
}
/////////////////////////////////////

GREATEST_MAIN_DEFS();

int main(const int argc, const char **argv) {
  __{{TEST_CASE_NAME_SLUG}}__setup_executable_path(argv);
  GREATEST_MAIN_BEGIN();
  if (isatty(STDOUT_FILENO)) {
    /////////////////////////////////////
    //  Tests restricted to interactive terminal
    /////////////////////////////////////
  }
  /////////////////////////////////////
  //  Test Suites
  RUN_SUITE(s_{{TEST_CASE_NAME_SLUG}});
  /////////////////////////////////////
  GREATEST_MAIN_END();
}


void __{{TEST_CASE_NAME_SLUG}}__setup_executable_path(const char **argv){
  realpath(argv[0], EXECUTABLE_PATH);
  EXECUTABLE = basename(EXECUTABLE_PATH);
  EXECUTABLE_PATH_DIRNAME = dirname(EXECUTABLE_PATH);
  if(DEBUG_MODE_ENABLED)
      fprintf(stderr,"{{TEST_CASE_NAME}} Initialized @ %s/%s\n", EXECUTABLE_PATH_DIRNAME,EXECUTABLE_PATH);
}

void __attribute__((constructor)) __constructor__{{TEST_CASE_NAME_SLUG}}(){
    DEBUG_MODE_ENABLED = (getenv("DEBUG")) ? true 
      : (getenv("DEBUG_MODE")) ? true 
        : (getenv("DEBUGMODE")) ? true 
          : false;
}

void __attribute__((destructor)) __destructor__{{TEST_CASE_NAME_SLUG}}(){
#ifdef DEBUG_MEMORY
  fprintf(stderr,"\nChecking {{TEST_CASE_NAME}} memory leaks\n");
  print_allocated_memory();
#endif
}
