{%-set LIBRARY_NAME = SUBDIR_NAME|lower|replace('-','_')-%}
{%-set UPPER_LIBRARY_NAME = LIBRARY_NAME|upper-%}
#pragma once
#ifndef {{UPPER_LIBRARY_NAME}}_H
#define {{UPPER_LIBRARY_NAME}}_H
//////////////////////////////////////
#include <ctype.h>
#include <stdio.h>
#include <assert.h>
#include <errno.h>
#include <stdlib.h>
#include <string.h>
#include <stdbool.h>
#include <unistd.h>
#include <inttypes.h>
//////////////////////////////////////
#endif
