#pragma once
#ifndef {{SUBDIR_NAME|upper|replace('-','_')}}_C
#define {{SUBDIR_NAME|upper|replace('-','_')}}_C
////////////////////////////////////////////
{%if SUBDIR_TEST_DEBUG_MEMORY_ENABLED%}#define DEBUG_MEMORY{%endif%}
////////////////////////////////////////////
#include "{{SUBDIR_NAME}}/{{SUBDIR_NAME}}.h"
////////////////////////////////////////////
{%for i in INCLUDED_HEADERS.split(' ') -%}
#include "{{i}}"
{%endfor%}
////////////////////////////////////////////
static bool {{SUBDIR_NAME|upper|replace('-','_')}}_DEBUG_MODE = false;
///////////////////////////////////////////////////////////////////////
static void __attribute__((constructor)) __constructor__{{SUBDIR_NAME|lower|replace('-','_')}}(void){
  if (getenv("DEBUG") != NULL || getenv("DEBUG_{{SUBDIR_NAME|upper|replace('-','_')}}") != NULL) {
    log_debug("Enabling {{SUBDIR_NAME}} Debug Mode");
    {{SUBDIR_NAME|upper|replace('-','_')}}_DEBUG_MODE = true;
  }
}
static void {{SUBDIR_NAME}}_internal_fxn1(void);
////////////////////////////////////////////
static void {{SUBDIR_NAME}}_internal_fxn1(void){
  log_info("Called function {{SUBDIR_NAME}}_internal_fxn1");
  if({{SUBDIR_NAME|upper|replace('-','_')}}_DEBUG_MODE == true){
    log_info("Debug Mode Enabled");
  }
}
////////////////////////////////////////////
void {{SUBDIR_NAME}}_fxn1(void){
  {{SUBDIR_NAME}}_internal_fxn1();
  log_info("Called function {{SUBDIR_NAME}}_fxn1");
  if({{SUBDIR_NAME|upper|replace('-','_')}}_DEBUG_MODE == true){
    log_info("Debug Mode Enabled");
  }
}
////////////////////////////////////////////
#endif
