#pragma once
#ifndef {{SUBDIR_NAME|upper|replace('-','_')}}_H
#define {{SUBDIR_NAME|upper|replace('-','_')}}_H
//////////////////////////////////////
#include <ctype.h>
#include <stdio.h>
#include <assert.h>
#include <errno.h>
#include <stdlib.h>
#include <string.h>
#include <unistd.h>
#include <inttypes.h>
//////////////////////////////////////
void {{SUBDIR_NAME}}_fxn1(void);
#endif
