{{TEST_CASE_NAME_SLUG}}_srcs = [
  '{{TEST_CASE_NAME}}.c',
]
inc = get_variable('inc', join_paths(meson.current_source_dir(),'..'))
{{TEST_CASE_NAME_SLUG}}_include_dirs = [
  '.',
  inc,
]
{{TEST_CASE_NAME_SLUG}}_deps = [
{% for dep in DEPENDENCIES.split(' ') %}  {{dep}},
{%endfor-%}
]
{{TEST_CASE_NAME_SLUG}}_c_args = [
]
{{TEST_CASE_NAME_SLUG}}_link_args = [
]

{{TEST_CASE_NAME_SLUG}}_test_dir = join_paths(meson.current_source_dir(), '..')

if get_option('enable-binaries')
  {{TEST_CASE_NAME_SLUG}}_exec = executable('{{TEST_CASE_NAME}}',
     {{TEST_CASE_NAME_SLUG}}_srcs,
     dependencies: {{TEST_CASE_NAME_SLUG}}_deps,
     include_directories: {{TEST_CASE_NAME_SLUG}}_include_dirs,
     link_args: {{TEST_CASE_NAME_SLUG}}_link_args,
     c_args: {{TEST_CASE_NAME_SLUG}}_c_args,
     install: {{TEST_CASE_INSTALL|lower}},
  )
  {% if not TEST_CASE_ENABLED %}#{%endif%}test('{{TEST_CASE_NAME}}', 
  {% if not TEST_CASE_ENABLED %}#{%endif%}  {{TEST_CASE_NAME_SLUG}}_exec, args: ['-v','-a'],
  {% if not TEST_CASE_ENABLED %}#{%endif%}  workdir: {{TEST_CASE_NAME_SLUG}}_test_dir,
  {% if not TEST_CASE_ENABLED %}#{%endif%})
endif
