////////////////////////////////////////////
{%if SUBDIR_TEST_DEBUG_MEMORY_ENABLED%}#define DEBUG_MEMORY{%endif%}
////////////////////////////////////////////
#include "{{SUBDIR_NAME}}/{{SUBDIR_NAME}}.h"
////////////////////////////////////////////
{%for i in INCLUDED_HEADERS.split(' ') -%}
#include "{{i}}"
{%endfor%}
////////////////////////////////////////////
TEST t_{{SUBDIR_NAME_SLUG}}(){
  PASS();
}

SUITE(s_{{SUBDIR_NAME_SLUG}}) {
  RUN_TEST(t_{{SUBDIR_NAME_SLUG}});
}

GREATEST_MAIN_DEFS();

int main(const int argc, const char **argv) {
  GREATEST_MAIN_BEGIN();
  RUN_SUITE(s_{{SUBDIR_NAME_SLUG}});
  GREATEST_MAIN_END();
}

