{%-set LIBRARY_NAME = SUBDIR_NAME|lower|replace('-','_')-%}
{%-set UPPER_LIBRARY_NAME = LIBRARY_NAME|upper-%}
#pragma once
#ifndef {{UPPER_LIBRARY_NAME}}_C
#define {{UPPER_LIBRARY_NAME}}_C
////////////////////////////////////////////
#include "{{SUBDIR_NAME}}/{{SUBDIR_NAME}}.h"
////////////////////////////////////////////
{%for i in INCLUDED_HEADERS.split(' ') -%}
#include "{{i}}"
{%endfor%}
////////////////////////////////////////////
static bool {{UPPER_LIBRARY_NAME}}_DEBUG_MODE = false;
///////////////////////////////////////////////////////////////////////
static void __attribute__((constructor)) __constructor__{{LIBRARY_NAME}}(void){
  if (getenv("DEBUG") != NULL || getenv("DEBUG_{{LIBRARY_NAME}}") != NULL) {
    log_debug("Enabling {{SUBDIR_NAME}} Debug Mode");
    {{UPPER_LIBRARY_NAME}}_DEBUG_MODE = true;
  }
}
////////////////////////////////////////////
#endif
